@model AspFormLab.ViewModels.Check1Vm


<h1>Ren klassisk HTML</h1>
<form action="/Home/Check1" method="post">

    <label> Författare med id 100
        <input type="checkbox" name="SelectedAuthorIds" value="100" />
    </label>


    <label> Författare med id 200
        <input type="checkbox" name="SelectedAuthorIds" value="200" />
    </label>

    <button type="submit">Submit</button>
</form>

<h1>Tag-helpers</h1>
<form asp-action="Check1" asp-controller="Home" method="post">
    <label> Författare med id 100
        <input type="checkbox" name="SelectedAuthorIds" value="100" />
    </label>
    <label> Författare med id 200
        <input type="checkbox" name="SelectedAuthorIds" value="200" />
    </label>
    <button type="submit">Submit</button>
</form> 


<h1>Loopa</h1>
<form asp-action="Check1" asp-controller="Home" method="post">
    @foreach (var author in Model.Authors)
    {
        <label> @author.Name
           <input name="SelectedAuthorIds" type="checkbox" value="@author.Id" />
       </label>
    }
    <button type="submit">Submit</button>
</form>


<h1>'asp-for' även på checkboxen</asp-for></h1>
@*Notera: en annan actionmetod*@
<form asp-action="Check1_Alternative" asp-controller="Home" method="post">
    @for (var i=0; i<Model.SelectedAuthors.Count(); i++)
    {
        <label> @Model.SelectedAuthors[i].Name
           <input type="checkbox" asp-for="SelectedAuthors[i].IsSelected" />
            @*Notera: hidden-fältet (kan även skicka med namn om du vill)*@

           <input type="hidden" asp-for="SelectedAuthors[i].Id" />
       </label>
    }
    <button type="submit">Submit</button>
</form>