@model WebApp.ViewModels.Group1Vm


<form method="post" asp-action="Group1">

    @for (var i = 0; i < Model.Books.Count(); i++)
    {
        <h2>@Model.Books[i].Title</h2>

        @foreach (var review in Model.Books[i].Reviews)
        {
            <label>

                <input type="checkbox" 
                       name="SelectedReviewIds" 
                       value="@review.Id" 
                       class="form-check-input" />
                @review.Content</label>
        }
    }

    <input type="submit" value="Ok">
</form>
